


/* main img  */
/* { */
	/* margin:0; */
	/* margin-top:-155px; */
	/* float:left; */
	/* height:600px; */
	/* width:auto; */
/* } */
main 
{
	margin: 0;
	background-image: url('roulette.png');
}

h3
{
	font-weight:normal;
}


#conteneur_form
{
	display:flex;
	flex-direction:row;
	
	justify-content: space-around;
	
	margin: 50px 20%;
}
div > label
{
	width:150px;
}


#mise
{
	margin:0;
}
form label label
{
	float:left;
	margin-left:20px;
}

form label:first-child
{
	margin-top:5px;
}

#jouer
{
	border-radius:5px;
}