@font-face
{
	font-family:"PokerKings";
	src:url('../police/PokerKings-Regular');
}
@font-face
{
	font-family:"Ubuntu";
	src:url('../police/UBUNTU-R.TTF');
}
	
body
{	
	font-family:Ubuntu, Calibri;
	text-align:center;

}

h1
{
	font-family:PokerKings, Calibri;
	font-size:2.5em;
	color:white;
	
	padding: 20px 0;
	margin:0;
	background-color: #007B00;
	
	text-align:left;
	padding-left:10px;
	margin-bottom:50px;
}
h2
{
	font-size:1.5em;
}
form input
{
	margin-bottom:5px;
}
#error
{
	font-size:0.7em;
	color:red;
	margin:0;
	margin-left:50px;
}

#link
{
	text-align:right;
	margin-right:6%;
	margin-top:60px;
	font-style:italic;
}

p a 
{
	text-decoration:none;
	border-bottom: 1px dotted red;
	color: red;	
}
p a:hover
{
	border-bottom:none;
}


form p
{
	font-size:0.8em;
	color:red;
	margin:0;
	margin-left:50px;
}


h3
{
	font-weight:normal;
}


#conteneur_form
{
	display:flex;
	flex-direction:row;
	
	justify-content: space-around;
	
	margin: 50px 20%;
}
div > label
{
	width:150px;
}


#mise
{
	margin:0;
}
form label label
{
	float:left;
	margin-left:20px;
}

form label:first-child
{
	margin-top:5px;
}

#jouer
{
	border-radius:5px;
}